<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/signUp.css')}}">
</head>
<body>
  <div class = navigator>
    <a  class= "button" href = "{{url_for('login')}}">Авторизация</a>
  </div>
  <h2 id = "text">Регестрация</h2>
  <div class = "signUp">
    <form method = "post">
      <input class = "a" type = "text" placeholder = "Имя" name = "name">
      <br>
      <input class = "a" type = "text" placeholder = "Email" name = "email">
      <br>
      <input class = "a" type = "password" placeholder = "Пароль" name = "password">
      <br>
      <input class= "b" type = "submit" >
    </form>
    {{error}}
  </div>
</body>
</html>